[Desktop Entry]
Name=Kcd
Name[it]=Kcd
Comment=A quick cdaudio player
Comment[it]=Un rapido lettore di cdaudio
Type=Service
Icon=media-optical-audio

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kcd
X-KDE-PluginInfo-Author=Francesco Grieco
X-KDE-PluginInfo-Email=fgrieco@gmail.com
X-KDE-PluginInfo-Name=kcd
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnableByDefault=true
